body {
  font-family: Arial, sans-serif;
}

header,
footer {
  padding: 25px 0;
}

header,
footer,
nav {
  margin: 20px 0;
}

header,
footer {
  background-color: rgb(60, 75, 145);
}

section {
  padding: 10px;
}

section,
li {
  border: 1px dashed white;
}

nav li {
  background-color: black;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item{
  background-color: white;
  padding: 0;
}

.item-type-a {
  background-color: rgb(60, 75, 145);
  padding-top: 45%;
}

.item-type-b {
  padding-top: 45%;
  background-color: rgb(60, 75, 145);
}

.item-inner {
  background-color: black;
  padding: 25px 0;
}

@media screen and (min-width: 600px) {
  body {
    margin: 0 auto;
    width: 80%;
  }
}


.container-main {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.container-inner {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.container-nav {
    display: grid;
    gap: 5px;
}

.item {
  grid-column: span 6;
}
.item-inner {
  grid-column: span 3;
}


@media screen and (min-width: 600px) {
    
    .container-nav {
    grid-auto-flow: column;
    }
    .item-type-b {
    grid-column: span 3;
    }

    .item-inner {
    grid-column: span 1;
    }
}

@media screen and (min-width: 900px) {
    .container-main {
        grid-auto-flow: column;
    }
    .item {
        grid-column: span 2;
        grid-row: span 2;
    }

    .item-type-b{
        grid-row: span 1;
    }

    .item-inner{
        grid-column: span 3;
    }
}